.header {
  width: 100%;
}
.registered {
  padding: 10px;
  /* margin-bottom: 0 !important; */
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
}

.buttonWrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0% !important;
  row-gap: 5px;
}

.upcoming {
  background: white;
  background-color: rgb(42, 157, 143) !important;
  margin: 0% !important;
}

.past {
  background: white;
  background-color: rgb(42, 157, 143) !important;
  margin: 0% !important;
}

.card {
  position: relative;
  width: 10px !important;
  height: 10px !important;
  margin: 25px !important;
}
