.bidChat {
  max-width: 400px;
  max-height: 500px;
  background-color: white;
  border: 1px solid lightgray;
  margin-bottom: 45px;
}

.postBids {
  padding: 20px;
}

.postBidBox {
  display: flex;
  margin-top: 10px;
}

.postInput {
  flex: 1;
  border: none;
  padding: 10px;
  border-top: 1px solid lightgray;
}

.postButton {
  flex: 0;
  border: none;
  border-top: 1px solid lightgray;
  color: #6082a3;
  background-color: transparent;
  border-top: 1px solid lightgray;
}
